body {
    background: repeating-linear-gradient(-20deg, rgb(207, 155, 255), hsl(308, 100%, 76%) 30vw,rgb(207, 155, 255) 60vw);
    background: repeating-linear-gradient(-20deg, rgb(176, 219, 255), hsl(184, 100%, 79%) 25vw,hsl(231, 100%, 83%)50vw, rgb(176, 219, 255) 75vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

#xander {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 12vh;
    left: 16vw;
    
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 10vw;
    z-index: 1;
}

/* top */
#top {
    background: repeating-linear-gradient(0deg, rgb(255, 214, 30), orange 10vh, red 45vh);
    height: 45vh;
    width: 100vw;
}
#top1 {
    background: repeating-linear-gradient(0deg, red, orange 35vh, rgb(255, 214, 30) 45vh);
    height: 45vh;
    width: 100vw;
    opacity: 0;

    animation-name: taco1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes taco1 {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        background: repeating-linear-gradient(45deg, red, orange 25vw, red 50vw);
    }
    25% {
        opacity: 1;
        background: repeating-linear-gradient(45deg, red, orange 25vw, red 50vw);
    }
    30% {
        opacity: 1;
        background: repeating-linear-gradient(45deg, red, orange 25vw, red 50vw);
    }
    35% {
        opacity: 0;
        background: repeating-linear-gradient(45deg, red, orange 25vw, red 50vw);
    }
    40% {
        opacity: 0;
        background: repeating-linear-gradient(135deg, red, orange 25vw, red 50vw);
    }
    45% {
        opacity: 1;
        background: repeating-linear-gradient(135deg, red, orange 25vw, red 50vw);
    }
    50% {
        opacity: 1;
        background: repeating-linear-gradient(135deg, red, orange 25vw, red 50vw);
    }
    55% {
        opacity: 0;
        background: repeating-linear-gradient(135deg, red, orange 25vw, red 50vw);
    }   
    60% {
        opacity: 0;
        background: repeating-linear-gradient(90deg, red, orange 50vw, red 100vw);
    }
    65% {
        opacity: 1;
        background: repeating-linear-gradient(90deg, red, orange 50vw, red 100vw);
    }
    70% {
        opacity: 1;
        background: repeating-linear-gradient(90deg, red, orange 50vw, red 100vw);
    }
    75% {
        opacity: 0;
        background: repeating-linear-gradient(90deg, red, orange 50vw, red 100vw);
    }
    80% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* nav */
nav {
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navButton {
    width: 200px;
    height: 60px;
    border-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.navButton:hover {
    border-radius: 20px;
    background-color: rgb(70, 70, 70);
}

/* about */
#about {
    padding-top: 50px;
    height: 300px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#introCard {
    height: 200px;
    width: 500px;
    text-align: justify;
    border-radius: 40px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.60);
}

#resumeCard {
    height: 200px;
    width: 300px;
    border-radius: 40px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.60);

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 23px;
}
.resumeBtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}
.resumeBtn:hover {
    cursor: pointer;
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 10px black;

}
#downloadResume {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: 3px 3px 10px black;
}
#downloadResume:hover {
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 10px black;
}

/* projects */
#projects {
    width: 100vw;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prjHd {
    font-size: 50px;
    text-decoration: underline;
}

.project {
    overflow: hidden;
    
    margin-top: 50px;
    height: 335px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}
.showcase {
    background-color: rgba(0, 0, 0, 0.6);

    height: 335px;
    width: 550px;
    
}

.outline {
    background-color: rgba(255, 255, 255, 0.60);

    padding: 20px;
    height: 335px;
    width: 550px;
}

.projectName {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    width: 500px;
    display: flex;
    justify-content: center;
}
.languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.language {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 5px 12px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.java {
    background-color: #af6600;
    color: black;
}
.python {
    background-color:#3572A5;
}
.javascript {
    background-color:#f1e05a;
}
.javafx {
    background-color: #ffa526;
}
.css {
    background-color:#8c63c9;
}
.html {
    background-color: #e34c26;
}
.projectDescription {
    text-align: justify;
    font-size: 22px;
    line-height: 23px;
    width: 500px;
}
.checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.viewProject {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 20px 20px 0px 10px;
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0px 0px 4px black;
    border-style: solid;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 180px;
    height: 40px;
}
.viewProject:hover {
    box-shadow: 0px 0px 10px black;
    
}

/* contact */
#contact {
    height: 500px;
    width: 100vw;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactCard {
    padding: 35px 60px 60px 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px teal;
}
.cntHd {
    font-size: 50px;
    text-decoration: underline;
}
.cntMethod {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 370px;
    margin-top: 40px;
    padding-left: 0px;
}
.svgLogo {
    height: 40px;
}
.profileLink {
    margin-left: 20px;
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
